<div class="logo text-center">
    <img src="assets/app-logo.png" width="100" height="100" alt="">
</div>

<div class="registration-form m-3 p-4">
    <form>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Firstname">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Lastname">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput placeholder="Mobile">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Weight</mat-label>
                    <input type="number" matInput placeholder="Mobile">
                    <mat-icon matSuffix>line_weight</mat-icon>
                    <mat-hint>Unit is KGs</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Hegiht</mat-label>
                    <input type="number" matInput placeholder="Mobile">
                    <mat-icon matSuffix><i class="fa fa-text-height" aria-hidden="true"></i></mat-icon>
                    <mat-hint>Unit is Meters</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">Do You Require Trainer?</label><br>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor = "let TrainerRequired of ['Yes','No']" [value]= TrainerRequired>{{TrainerRequired}}</mat-radio-button>
                </mat-radio-group> 
                <div>Your Selected Option is:</div>
            </div>
            <div class="col-md-6 mt-3">
                <!-- <label id="example-radio-group-label">Select Your Gender</label><br>
                <mat-radio-group aria-label="Select Your Gender">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                </mat-radio-group>                   -->
                <label id="example-radio-group-label">Select Your Gender</label><br>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor = "let Gender of ['Male','Female']" [value]= Gender>{{Gender}}</mat-radio-button>
                </mat-radio-group> 
                <div>Your Selected Option is:</div>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Select Package</mat-label>
                    <mat-select>
                      <mat-option *ngFor ="let package of packages" [value]="package">
                        {{package}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Which of the folllowing is important to you?</mat-label>
                    <mat-select multiple>
                      <mat-option *ngFor ="let list of importantList" [value]="list">
                        {{list}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <label id="example-radio-group-label">Have you been for gym before?</label><br>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor = "let GymBefore of ['Yes','No']" [value]= GymBefore>{{GymBefore}}</mat-radio-button>
                </mat-radio-group> 
                <div>Your Selected Option is:</div>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Enquiry date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>  
            </div>
        </div>
    </form>
</div>
